.post-container {
    border: solid 3px black;
    max-width: 400px !important;
}

.title-column {
    border-right: solid 3px black;
}

.post-column {
    border-top: solid 3px black;
}


@media (min-width: 992px) {
    .post-container {
        max-width: 700px !important;
    }
}