.title {
    font-size: 70px;
}

.icon {
    font-size: 30px;
}

.nav-link {
    text-decoration: none;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
  }
  

@media (min-width: 992px) {
    .title {
        text-align: left;
    }
    .icon {
        margin-top: 8px;
    }
    .home-nav {
        margin-left: -70px;
        margin-right: -70px;
    }
    .icon {
        font-size: 33px;
    }
}